/** @format */

.slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
  }
  .slide1 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(255, 208, 0, 0.3)
      ),
      url("https://i.ibb.co/10fkHNd/jo-szczepanska-9-OKGEVJi-TKk-unsplash.jpg");
    border-radius: 8px;
  }
  .slide2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(255, 208, 0, 0.3)
      ),
      url("https://i.ibb.co/QYr6qPd/swapnil-dwivedi-w46t-RF64q-Nc-unsplash.jpg");
    border-radius: 8px;
  }
  .slide3 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(255, 208, 0, 0.3)
      ),
      url("https://i.ibb.co/Sf1Ky8H/tim-arterbury-Vkw-Rmha1-t-I-unsplash.jpg");
    border-radius: 8px;
  }
  .swiper-pagination-bullet-active {
    background-color: #fff !important;
  }
  @media only screen and (max-width: 576px) {
    .swiper-button-prev:after,
    .swiper-button-next:after {
      font-size: 24px !important;
    }
  }
  